---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/invalid-space/environments/master/entries?content_type=recipe&select=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 7b7aa499-ccca-40b8-967a-90d0e2d2d7ce
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "requestId": "7b7aa499-ccca-40b8-967a-90d0e2d2d7ce"
        }
  recorded_at: Tue, 15 Feb 2022 15:31:22 GMT
recorded_with: VCR 6.0.0
