---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/kk2bw5ojx476/environments/master/entries?content_type=recipe&select=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer invalid-token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda
      Etag:
      - '"11425959457825523557"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      X-Contentful-Request-Id:
      - 5149bd6b-31f9-4601-bc40-32c1ccef8353
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "AccessTokenInvalid"
          },
          "message": "The access token you sent could not be found or is invalid.",
          "requestId": "5149bd6b-31f9-4601-bc40-32c1ccef8353"
        }
  recorded_at: Mon, 14 Feb 2022 19:31:53 GMT
recorded_with: VCR 6.0.0
