---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/kk2bw5ojx476/environments/master/entries?content_type=recipe&select=&sys.id=437eO3ORCME46i02SeCW46
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 7ac531648a1b5e1dab6c18b0979f822a5aad0fe5f1109829b8a197eb2be4b84c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda
      Etag:
      - W/"13464386280020020536"
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Contentful-Cache:
      - MISS
      X-Contentful-Request-Id:
      - b926f665-f022-4e39-9f57-5d8f0f5add38
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "metadata": {
                "tags": []
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "kk2bw5ojx476"
                  }
                },
                "id": "437eO3ORCME46i02SeCW46",
                "type": "Entry",
                "createdAt": "2018-05-07T13:32:04.593Z",
                "updatedAt": "2018-05-07T13:36:41.741Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 3,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "recipe"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "title": "Crispy Chicken and Rice\twith Peas & Arugula Salad",
                "photo": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "5mFyTozvSoyE0Mqseoos86"
                  }
                },
                "calories": 785,
                "description": "Crispy chicken skin, tender meat, and rich, tomatoey sauce form a winning trifecta of delicious in this one-pot braise. We spoon it over rice and peas to soak up every last drop of goodness, and serve a tangy arugula salad alongside for a vibrant boost of flavor and color. Dinner is served! Cook, relax, and enjoy!",
                "chef": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "NysGB8obcaQWmq0aQ6qkC"
                  }
                },
                "tags": [
                  {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "61Lgvo6rzUIgIGgcOAMgQ8"
                    }
                  },
                  {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "gUfhl28dfaeU6wcWSqs0q"
                    }
                  }
                ]
              }
            }
          ],
          "includes": {
            "Entry": [
              {
                "metadata": {
                  "tags": []
                },
                "sys": {
                  "space": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Space",
                      "id": "kk2bw5ojx476"
                    }
                  },
                  "id": "61Lgvo6rzUIgIGgcOAMgQ8",
                  "type": "Entry",
                  "createdAt": "2018-05-07T13:27:25.845Z",
                  "updatedAt": "2018-05-07T13:27:25.845Z",
                  "environment": {
                    "sys": {
                      "id": "master",
                      "type": "Link",
                      "linkType": "Environment"
                    }
                  },
                  "revision": 1,
                  "contentType": {
                    "sys": {
                      "type": "Link",
                      "linkType": "ContentType",
                      "id": "tag"
                    }
                  },
                  "locale": "en-US"
                },
                "fields": {
                  "name": "gluten free"
                }
              },
              {
                "metadata": {
                  "tags": []
                },
                "sys": {
                  "space": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Space",
                      "id": "kk2bw5ojx476"
                    }
                  },
                  "id": "NysGB8obcaQWmq0aQ6qkC",
                  "type": "Entry",
                  "cre[...]
